@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

body {
    background-color: #000;
    font-family: 'Martel Sans', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-image: url(/assets/images/bgimg.jpg);
    width: 100%;
    height: 90vh;
    position: relative;

}

.box {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8500) 8.000%, rgba(0, 0, 0, 0.8465) 15.67%, rgba(0, 0, 0, 0.8361) 23.33%, rgba(0, 0, 0, 0.8187) 31.00%, rgba(0, 0, 0, 0.7944) 38.67%, rgba(0, 0, 0, 0.7632) 46.33%, rgba(0, 0, 0, 0.7250) 54.00%, rgba(0, 0, 0, 0.6868) 61.67%, rgba(0, 0, 0, 0.6556) 69.33%, rgba(0, 0, 0, 0.6312) 77.00%, rgba(0, 0, 0, 0.6139) 84.67%, rgba(0, 0, 0, 0.6035) 92.33%, rgba(0, 0, 0, 0.6000) 100.0%);
}

.navbar {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8000) 0.000%, rgba(0, 0, 0, 0.7889) 8.333%, rgba(0, 0, 0, 0.7556) 16.67%, rgba(0, 0, 0, 0.7000) 25.00%, rgba(0, 0, 0, 0.6222) 33.33%, rgba(0, 0, 0, 0.5222) 41.67%, rgba(0, 0, 0, 0.4000) 50.00%, rgba(0, 0, 0, 0.2778) 58.33%, rgba(0, 0, 0, 0.1778) 66.67%, rgba(0, 0, 0, 0.1000) 75.00%, rgba(0, 0, 0, 0.04444) 83.33%, rgba(0, 0, 0, 0.01111) 91.67%, rgba(0, 0, 0, 0.000) 100.0%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 2;

}

.netlogo {
    position: relative;
    width: 145px;
    filter: contrast(2);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    /* center it horizontally */
    padding: 0 20px;
    /* optional spacing inside */

    max-width: 85vw;
}

select {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.signin {
    background-color: #e50914;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.hero-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    padding: 0 1rem;
}

.hero {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.hero2 {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.hero3 {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6;
}
